# ignore _everything_ that gets placed into the rudi root folder
/*

# _except_ the files explicitly declared to be part of this installer repository
!/bin/
/bin/*
!/bin/README.md

!/config/

!/containers/
/containers/*
!/containers/README.md

!/data/
/data/*
!/data/README.md

!/docs/

!/environments/
/environments/*
!/environments/README.md

!/frameworks/
/frameworks/*
!/frameworks/README.md

!/remote/

!/resources/
/resources/*
!/resources/README.md

!/sessions/
/sessions/*
!/sessions/README.md

!/suites/
/suites/*
!/suites/README.md

!/_config.yml
!/.gitignore
!/index.html
!/install.sh
!/LICENSE
!/rudi
!/README.md
